*{
    font-family: "Cormorant Garamond", serif;
    box-sizing: border-box;
    background-color: #fff6fa;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0 80px;
}

h1 {
    width: 45%;
    text-align: left;
    color: #7E4A4A;
    font-size: 100px;
}

header img {
    width: 400px;
}

@media(max-width:600px){
    header {
        height: auto;
        flex-direction: column;
        justify-content: center;
        padding: 40px 20px;
        gap: 30px; 
    }

    h1 {
        width: 100%;
        font-size: 50px; 
        text-align: center;
    }

    header img {
        width: 100%;
        max-width: 300px;
    }
}