* {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff6fa;
}
.TituloBanner {
    margin-left: 3.125rem; 
    padding-right: 1.25rem; 
    display: flex;
    flex-direction: column;
}
.banner h1{
    font-family: "Cormorant Garamond", serif;
    font-weight:500;
    font-size: 5rem;
    color: #7E4A4A;
    margin-bottom: 0.3125rem;
}
.banner a{
    font-size: 1.25rem;
    color: white;
    margin-bottom: 2%;
}

.banner p{
    font-size: 1.5625rem;
    color: #7E4A4A;
    margin-bottom: 2.5rem;
}

.palabra-destacada{
    color:#f4a6b4;
    font-weight:500;
    font-size: 5rem;
    font-family: "Cormorant Garamond", serif;
}
.boton{
    background-color: #ffbeca;
    border-radius: 1.875rem;
    padding: 1.25rem;
    text-decoration: none;
    color: white;
    align-self: center;
}
.banner-img {
    width: 28.125rem;   
    height: auto;      
    object-fit: contain;
}



.categorias{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.875rem;
    padding: 1.25rem;
    font-size: 1.25rem;
}

.categoria{
    background-color: #ffbeca;
    border-radius: 1.875rem;
    padding: 1.25rem;
    text-decoration: none;
    color: white;
    text-align: center;
}
.categoria img {
    width: 6.25rem;
    height: 6.25rem;
    object-fit: contain;
}

.info ul {
    list-style-position: inside;
    padding-left: 0; 
}

.columna ul li::marker {
  color: #e87a8f; 
}

.productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.875rem;
    padding: 1.25rem;
}
.productos h2 {
    grid-column: 1 / 4;
    text-align: center;
    color: #7E4A4A;
    font-size: 2rem;
}

.tarjeta {
    position: relative;
    perspective: 1000px;
    height: 31.25rem; 
}

.productos img {
    width: 100%;
    height: 31.25rem;
    object-fit: contain;
    border: 1px solid #f8cccc;
    border-radius: 1.25rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.info h3{
    font-family: "Cormorant Garamond", serif;
}
.tarjeta .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 31.25rem;
    border: 1px solid #f8cccc;
    border-radius: 1.25rem;
    background: #fff6fa;
    color: #7E4A4A;
    padding: 1.25rem;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    text-align: left;
}

.separator-horizontal {
  position: relative;
  text-align: center;
  border-bottom: 1px solid #f3c2c9; 
  margin: 1.25rem 0;
}

.heart-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff6fa; 
  padding: 0 0.5rem;
  color: #e87a8f; 
  font-size: 0.75rem;
}
.informacion-adicional{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;
    margin-top: 1.25rem;
}

.columna {
  flex: 1;            
  padding: 0 1.25rem;             
}

.columna:first-child {
  border-right: 1.5px solid #f3c2c9; 
}

.tarjeta:hover img {
    transform: rotateY(180deg);
}

.tarjeta:hover .info {
    transform: rotateY(360deg);
}



@media (max-width: 600px){
    .banner {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: 
        "titulo titulo"
        "info imagen"
        "boton   imagen";
        align-items: center;
        gap: 0.9375rem;
        padding: 1.5625rem 0.9375rem;
    }

    .TituloBanner {
        display: contents;
    }

     .banner h1{
        grid-area: titulo;
        width: 100%;
        text-align: left;
        font-size: 3rem;
        margin-bottom: 0.3125rem;
    }

    .banner .palabra-destacada {
        font-size: 3rem; 
    }
   

    .banner p{
        grid-area: info;
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
        align-self: start;
    }
    .boton{
        grid-area: boton;
        align-self: start;
        justify-self: start;
        padding: 0.625rem 1.25rem;
        font-size: 0.9rem;
    }

    .banner > div:has(.banner-img) {
        grid-area: imagen;
        align-self: right;
    }
    .banner-img {
        width: 10rem;
        margin: 0 auto;
        object-fit: contain;
    }


    .categorias{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    font-size: 1rem;
}
    .categoria {
    min-width: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .categoria img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}
    .productos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;
    padding: 1.25rem;
    
}

    .productos h2 {
        grid-column: 1;
    }
}